name: Gateway Test Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [1,2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1
      - name: Run Cypress Test
        uses: cypress-io/github-action@v5
    env:
      SPLIT: ${{ strategy.job-total }}
      SPLIT_INDEX: ${{ strategy.job-index }}